---
import "../../styles/utility.css";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const {
  author = "Jacek Majda",
  keywords = "Majda, website, app, consultation, digital goals",
  title = "Majda.org - create a website with me",
  description = "Contact me today to schedule a consultation and see how I can help you reach your digital goals by creating custom, responsive website and functional app tailored to your needs.",
  image = '/assets/og_image.jpg',
} = Astro.props;
---

<meta charset="UTF-8" />
<meta name="robots" content="index, follow">
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<meta name="author" content={author}>
<meta name="keywords" content={keywords}>

<!-- Open Graph protocol metadata -->
<meta property="og:title" content={title}>
<meta property="og:type" content="website">
<meta property="og:url" content="https://majda.org">
<meta property="og:image" content={image}>
<meta property="og:description" content="Contact me today to schedule a consultation and see how I can help you reach your digital goals by creating custom, responsive website and functional app tailored to your needs.">

<!-- Twitter metadata -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content={title}>
<meta name="twitter:description" content={description}>
<meta name="twitter:image" content={image}>

<!-- <meta name="generator" content={Astro.generator} /> -->
<title>{title}</title>

<link rel="icon" type="image/svg+xml" href="/favicon.png" />
<!-- Google fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
  rel="stylesheet"
/>
<script src="https://unpkg.com/@lottiefiles/lottie-player@1.5.7/dist/lottie-player.js"></script>

